<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <title>SourcE-commerce</title>
</head>

<body>
  <div class="wrapper">
    {{#unless sidebar}}
    <main id="indexContent">
      <header>
        <h1 class="indexHeading">{{heading}}</h1>
      </header>

      <div class="container-fluid">
        {{{ body }}}
      </div>
    </main>
    {{/unless}}

    {{#if sidebar}}
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>SourcE-commerce</h3>
      </div>

      <img class="user-img" src="{{user-image}}" alt="user-img" />

      <ul class="list-unstyled components">
        <p>{{username}}</p>
        {{!-- {{#each client-type}}
        {{#if customer}} --}}
        <li>
          <h2>Cart</h2>

          {{cart-items}}

          <button class="checkoutBtn">Checkout</button>
        </li>
        {{!-- {{else}} --}}
        <li class="active">
          <a href="/salesDash">Sales</a>
        </li>
        <li>
          <a href="/inventory">Inventory</a>
        </li>
        {{!-- {{/if}}
        {{/each}} --}}
      </ul>

      {{!-- TEMP NAV LINKS --}}
      <li class="active">
        <a href="/">Login</a>
      </li>
      <li>
        <a href="/createAccount">Create Account</a>
      </li>
      <li>
        <a href="/salesDash">Sales Dashboard</a>
      </li>
      <li>
        <a href="/inventory">Inventory</a>
      </li>
      <li>
        <a href="/storeFront">Storefront</a>
      </li>
    </nav>

    <main id="appContent">
      <header>
        <h1 class="appHeading">{{heading}}</h1>
      </header>

      <div class="container-fluid">
        {{{ body }}}
      </div>
    </main>
    {{/if}}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</body>

</html>