<nav id="sidebar">
    <div class="sidebar-header">
        <h3>SourcE-commerce</h3>
    </div>

    {{!-- <img class="user-img" src="{{user_image}}" alt="user-img" /> --}}
    <div id="loginUser">
        {{!-- {{username}} --}}
    </div>

    <ul class="list-unstyled components">
        {{!-- {{#each client-type}} --}}
        {{!-- {{#if customer}} --}}
        <li>
            <h2>Cart</h2>

            {{cart-items}}

            <button class="checkoutBtn">Checkout</button>
        </li>

        {{!-- {{else}} --}}
        <li class="active">
            <a href="/salesDash">Sales</a>
        </li>
        <li>
            <a href="/inventory">Inventory</a>
        </li>
        {{!-- {{/if}} --}}
        {{!-- {{/each}} --}}
    </ul>

    {{!-- TEMP NAV LINKS --}}
    <li class="active">
        <a href="/">Login</a>
    </li>
    <li>
        <a href="/createAccount">Create Account</a>
    </li>
    <li>
        <a href="/salesDash">Sales Dashboard</a>
    </li>
    <li>
        <a href="/inventory">Inventory</a>
    </li>
    <li>
        <a href="/storeFront">Storefront</a>
    </li>
</nav>

<main id="appContent">
    <header>
        <h1 class="appHeading">{{heading}}</h1>
    </header>

    <div class="container-fluid">
        {{{ body }}}
    </div>
</main>

<script src="js/login.js"></script>